---
layout: default
title: CNX Web - Blog postss
description: Tips, tricks, and useful information about websites and small business marketing.
---
<section class="mobile-section-top">
  {% for posts in site.posts limit:1 %}
  <div class="hero-image" style="background-image: url('{{posts.hero_image}}');)">
    <h1 class="text-bg-black pad-top-xs pad-left-xs"><span>{{posts.title}}</span></h1>
  </div>
  <h4 class="pad-top-xs pad-bottom-xs">Published: {{posts.date | date: "%b %-d, %Y"}}</h4>
  <!-- container for blog post and author card and tags -->
  <div class="grid-spaceBetween-top">
    <!-- container for blog post content - left column -->
    <div class="col-9_sm-12">
      <p>
        {{posts.content}}
      </p>
      <div class="outline-black-thin">
        <h6>Share this on &rarr;
          <a class="share-hover" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
          <a class="share-hover" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
          <a class="share-hover" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
          <a class="share-hover" href="https://www.linkedin.com/shareArticle?mini=true&url={{PAGE.URL}}&title={{PAGE.TITLE}}&summary={{PAGE.DESCRIPTION}}&source={{SITE.URL}}" rel="nofollow" target="_blank" title="Share on Google+">LinkedIn</a>
        </h6>
      </div>
    </div>
    <!-- container for author and tags - right column -->
    <div class="col-2_sm-12">
      <div class="sm-0">
        <img src="{{posts.author_image}}" alt="{{posts.author}} image"/>
        <h5>Author: {{posts.author}}</h5>
      </div>
      <div>
        <h5>Filed Under:</h5>
        {% for tag in posts.tags %}
        <h5 class="tags nudge-down"><a href="/archives/tag/{{ tag | slugify }}">{{tag}}</a></h5>
        {% endfor %}
      </div>
    </div>
  </div>
  {%endfor%}
  <span class="hor-line margin-bottom-s"></span>
  <h2 class="text-bg-black pad-top-xs pad-bottom-xs"><span>Older Posts:</span></h2>
  {% for posts in site.posts limit:5 offset:1 %}
  <div class="outline-turq margin-top-xs margin-bottom-xs pad-all-xs">
    <h3>{{posts.title}}</h3>
    <h6 class="pad-top-xs">{{ posts.date | date: "%b %-d, %Y" }}</h6>
    <p>{{posts.excerpt}}</p>
    <a href="{{posts.url}}" class="col-2_sm-12 text-right"><button class="button">Read More</button></a>
  </div>
  {% endfor %}
  <a href="/blog-all"><button>See list of all blog posts</button></a>
  <span class="hor-line margin-bottom-s"></span>
  <h2 class="text-bg-black pad-bottom-xs"><span>Explore Tags:</span></h2>
    <div class="justify-content">
    {% for tag in site.tags %}
      {% assign tag_name = tag[0] %}
      <a class="tags big-tags nudge-down" href="/archives/tag/{{ tag_name | slugify }}/">{{ tag_name | replace: "-", " " }}</a>
    {% endfor %}
    </div>
</section>
