---
layout: default
title: CNX Web - Examples
description: Portfolio of websites and and projects completed by CNX Web.
---
<section>
  <h1>Examples of my work</h1>
  <h3>Click the website images below to learn more about each of the projects.</h3>
  <div>
    <div>
      {% for example in site.example %}
      <div>
        <img src="{{example.image limit:6}}"/>
      </div>
      {% endfor %}
    </div>
    <div>
      {% for example in site.example %}
      <div>
        <img src="{{example.image limit:5 offset:6}}"/>
      </div>
      {% endfor %}
    </div>
    <div>
      {% for example in site.example %}
      <div>
        <img src="{{example.image limit:5 offset:11}}"/>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid">
    <div class="container-right text-right col-4">
      <h3>Ready to get your own beautiful website?</h3>
      <a href="start/entrepreneur.html" class="button">Yes!</a>
    </div>
  </div>
</section>
