---
layout: default
title: CNX Web - Examples
description: Portfolio of websites and and projects completed by CNX Web
---
<section>
  <h1 class="text-bg-black">Examples of my work</h1>
  <h3>Click the website images below to learn more about each of the projects.</h3>
  <div>
    <div>
      {% for example in site.example limit:6  %}
      <div>
        <img src="{{example.image}}"/>
      </div>
      {% endfor %}
    </div>
    <div>
      {% for example in site.example limit:5 offset:6 %}
      <div>
        <img src="{{example.image}}"/>
      </div>
      {% endfor %}
    </div>
    <div>
      {% for example in site.example limit:5 offset:11 %}
      <div>
        <img src="{{example.image}}"/>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid pad-top-s">
    <div class="container-right text-right col-4">
      <h3 class="pad-bottom-s">Ready to get your own beautiful website?</h3>
      <a href="start/entrepreneur.html"><button>Yes!</button></a>
    </div>
  </div>
</section>
