---
layout: default
title: CNX Web Services
description: How can CNX Web help your business to grow online?
marketing-package:
  - name: Strategy Session
    price: ฿5,000
    description: Having a great website is only the first step. To succeed online, you also need to have a strategy for how to expand your reach, whether that's through content marketing, social media marketing, or advertising. Let's sit down with each other for up to 3 hours to come up with a concrete plan for bring more visitors to your website and converting that into better business.
  - name: Google Set-Up
    price: ฿10,000
    description:
  - name: Social Media Calendar
    price: ฿10,000
    description:
  - name: Email Marketing
    price: ฿30,000
    description:
  - name: Content Marketing
    price: ฿30,000
    description:
business-package:
  - name:
    price:
    description:
  - name:
    price:
    description:
  - name:
    price:
    description:
  - name:
    price:
    description:
  - name:
    price:
    description:
  - name:
    price:
    description:
---
<section>
  <h1 class="text-bg-black">Solutions for your small business</h1>
  <!-- <p>Are you looking for more customers? Better customers? Or are you looking for a way to serve your customers better? Whatever problem you're encountering in your small business, one of the most powerful solutions is communication, and that's what a website is. A better way to communicate with your customers. It's more than just a digital business card or "something you should just have." A website is how you show the world who you are and what you stand for. It's how you make it easy for customers to understand how you can help them and how to find you.</p> -->
  <div class="outline-turq pad-all-xs">
    <h4 class="pad-top-xs pad-bottom-xs">Show the world your best face by investing in the website your business deserves.</h4>
    <p>For your convenience, I'm offering my best web design and consulting services as fixed-price packages. If you don't find the service package to meet your needs below, please don't hesitate to <a href="/contact">get in touch with me for a free consultation</a>.</p>
  </div>
  <div class="grid-spaceBetween-middle pad-top-s text-center">
    <a href="#wd" class="bg-wd pad-top-s pad-bottom-s margin-bottom-xs col-3_sm-12 nudge-down">
      <h3 class="text-white text-center text-b text-bg-orange">Web</h3><br>
      <h3 class="text-white text-center text-b text-bg-orange">Design</h3>
    </a>
    <a href="#dm" class="bg-dm pad-top-s pad-bottom-s margin-bottom-xs col-3_sm-12 nudge-down">
      <h3 class="text-white text-b text-bg-orange">Digital</h3><br>
      <h3 class="text-white text-b text-bg-orange">Marketing</h3>
    </a>
    <a href="#bc" class="bg-ba pad-top-s pad-bottom-s margin-bottom-xs col-3_sm-12 nudge-down">
      <h3 class="text-white text-b text-bg-orange">Business</h3><br>
      <h3 class="text-white text-b text-bg-orange">Consulting</h3>
    </a>
  </div>
</section>
<!-- this is the web design section ------------------------------------------------------------------------------------->
<section id="wd">
  <div>
    <img />
    <h2 class="text-bg-black">Web Design Packages</h2>
  </div>
  <h4 class="pad-top-xs pad-bottom-xs">The first step in your digital growth is a great website. Let's show the world who you are.</h4>
  <!-- container for pricing modules -->
  <div class="grid-spaceBetween-middle text-center pad-top-xs">
    <div class="col-3_sm-12 pad-bottom-s" id="plan-starter">
      <div class="outline-orange pad-all-s">
        <h3 class="text-bold">Starter</h3>
      </div>
      <div class="bg-grey pad-all-s">
        <h4>Template Design</h4>
        <h4>One-Page Website</h4>
        <h4>Self-Maintenance</h4>
        <h3 class="pad-all-s">฿10,000</h3>
        <a href="start/starter.html"><button>Choose This Package</button></a>
      </div>
    </div>
    <div class="col-3_sm-12 pad-bottom-s" id="plan-entrepreneur">
      <div class="outline-orange pad-all-s">
        <h3 class="text-bold">Entrepreneur</h3>
      </div>
      <div class="bg-grey pad-all-s">
        <h4>Custom Design</h4>
        <h4>One-Page Website</h4>
        <h4>Incl 5 Hrs Maintenance</h4>
        <h3 class="pad-all-s">฿30,000</h3>
        <a href="start/entrepreneur.html"><button>Choose This Package</button></a>
      </div>
    </div>
    <div class="col-3_sm-12 pad-bottom-s" id="plan-merchant">
      <div class="outline-orange pad-all-s">
        <h3 class="text-bold">Merchant</h3>
      </div>
      <div class="bg-grey pad-all-s">
        <h4>Custom Design</h4>
        <h4>Up to 5 Pages</h4>
        <h4>Incl 10 Hrs Maintenance</h4>
        <h3 class="pad-all-s">฿50,000</h3>
        <a href="start/merchant.html"><button>Choose This Package</button></a>
      </div>
    </div>
  </div>
  <h3 class="pad-top-xs">All website plans include:</h3>
  <div class="grid"><div class="hor-line col-4_md-8_sm-12"></div></div>
  <h4><i class="fa fa-check" aria-hidden="true"></i> 1 year of hosting</h4>
  <h4><i class="fa fa-check" aria-hidden="true"></i> Custom domain (must be purchased separately)</h4>
  <h4><i class="fa fa-check" aria-hidden="true"></i> Unlimited storage</h4>
  <h4><i class="fa fa-check" aria-hidden="true"></i> On-page SEO optimization</h4>
  <h4><i class="fa fa-check" aria-hidden="true"></i> Google Analytics</h4>
  <h4><i class="fa fa-check" aria-hidden="true"></i> Content management system (CMS) for self-updating</h4>
  <h3 class="pad-top-s">Optional add-ons to supercharge your website:</h3>
  <div  class="grid"><div class="hor-line col-7_md-10_sm-12"></div></div>
  <h4><i class="fa fa-plus" aria-hidden="true"></i> Blogging for ฿5000</h4>
  <h4><i class="fa fa-plus" aria-hidden="true"></i> Online Booking for ฿10,000*</h4>
  <h4><i class="fa fa-plus" aria-hidden="true"></i> E-Commerce for ฿30,000*</h4>
  <p class="pad-bottom-s">* Does not include additional software fees.</p>
  <div class="grid">
    <h2 class="text-bg-black margin-bottom-s">Looking for a more full service web design option?</h2>
    <div class="col-7_sm-12 outline-orange text-center pad-all-xs">
      <h3>Create Your Own Bespoke Package</h3>
    </div>
    <div class="col-7_sm-12 bg-grey pad-all-s text-center">
      <h4>Fully Custom Design</h4>
      <h4>10 Pages and Up</h4>
      <h4>Incl 5 Hrs Maintenance Per Month</h4>
      <h3 class="pad-bottom-s pad-top-s">Starting at ฿120,000</h3>
      <a href="start/bespoke.html"><button>Get A Project Quote</button></a>
    </div>
    <div class="col-5_sm-12 pad-left-s">
      <h3>Best for:</h3>
      <h4><i class="fa fa-diamond" aria-hidden="true"></i> Hotels</h4>
      <h4><i class="fa fa-diamond" aria-hidden="true"></i> Real Estate Agencies</h4>
      <h4><i class="fa fa-diamond" aria-hidden="true"></i> Online Stores</h4>
    </div>
  </div>
</section>
<!-- this is the not sure cta section ----------------------------------------------------------------------------------->
<section class="bg-grey text-center pad-all-m">
  <h2 class="text-bg-black">Not sure which package is right for you?</h2>
  <h3 class="pad-top-s">Call or message me for a free consultation</h3>
  <div class="grid-spaceAround-middle text-center pad-top-s">
    <h3 class="text-orange col-12"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+66612791306"> 061-279-1306</a></h3>
    <div class="col-12 pad-top-xs">
      <a target="blank" href="http://line.me/ti/p/~cnxlily"><img class="line-icon-orange" src="/images/lineicon-orange.png" alt="line icon"/></a><h3 class="display-inline text-orange">
      <a class="pad-top-xs" target="blank" href="http://line.me/ti/p/~cnxlily"> cnxlily</h3></a>
    </div>
  </div>
</section>
<!-- this is the digital marketing section ------------------------------------------------------------------------------>
<section id="dm">
  <div>
    <h2 class="text-bg-black">Digital Marketing Packages</h2>
  </div>
  <h4 class="pad-top-xs">Connect your website, enhance your brand, and reach more customers.</h4>
  <div class="pad-bottom-s">
    {% for marketing-package in page.marketing-package%}
    <!-- this is the container giving the nested container a grid -->
    <div class="grid package pad-top-xs">
      <!-- this is the container limiting the width of the displayed packages -->
      <div class="col-8_sm-12 grid pad-bottom-xs open">
        <!-- this is the container giving the package container and the yellow read more toggle widths -->
        <div class="col-11_sm-10">
          <!-- this is the container for the description and the price outlined in orange -->
          <div class="outline-orange grid-middle-spaceBetween pad-all-xs">
            <h4>{{marketing-package.name}}</h4>
            <h4>{{marketing-package.price}}</h4>
          </div>
        </div>
        <!-- this h4 contains the icon for the read more toggle -->
        <h4 class="col-1_sm-2 bg-yellow text-center text-m"><a><i class="read-more fa fa-angle-double-down" aria-hidden="true"></i></a></h4>
        <!-- this is the container for the package description hidden until toggled -->
        <div class="bg-grey margin-bottom-xs">
          <p class="pad-all-xs packageDescription">
            {{marketing-package.description}}
          </p>
        </div>
      </div>
    </div>
    {%endfor%}
    <h4 class="pad-top-xs pad-bottom-xs">Other projects priced at an hourly rate of ฿1,500.</h4>
    <a href="/contact.html"><button>Email Me to Get Started</button></a>
  </div>
</section>
<!-- this is the business automation section ---------------------------------------------------------------------------->
<section id="bc">
  <div>
    <h2 class="text-bg-black">Business Consulting Packages</h2>
  </div>
  <h4 class="pad-top-xs pad-bottom-xs">Digitize your business. Save time and money, and make your customers happy.</h4>
  <div class="pad-bottom-s">
    {% for business-package in page.business-package%}
    <!-- this is the container giving the nested container a grid -->
    <div class="grid package pad-top-xs">
      <!-- this is the container limiting the width of the displayed packages -->
      <div class="col-8_sm-12 grid pad-bottom-xs open">
        <!-- this is the container giving the package container and the yellow read more toggle widths -->
        <div class="col-11_sm-10">
          <!-- this is the container for the description and the price outlined in orange -->
          <div class="outline-orange grid-middle-spaceBetween pad-all-xs">
            <h4>{{business-service.name}}</h4>
            <h4>{{business-service.price}}</h4>
          </div>
        </div>
        <!-- this h4 contains the icon for the read more toggle -->
        <h4 class="col-1_sm-2 bg-yellow text-center text-m"><a><i class="read-more fa fa-angle-double-down" aria-hidden="true"></i></a></h4>
        <!-- this is the container for the package description hidden until toggled -->
        <div class="bg-grey margin-bottom-xs">
          <p class="pad-all-xs packageDescription">
            {{business-service.description}}
          </p>
        </div>
      </div>
    </div>
    {%endfor%}
    <h4 class="pad-bottom-xs">Have a different back-of-house problem not solved by one of the packages above? Let's work together to come up with a solution.</h4>
    <a href="/contact.html"><button>Email Me to Get Started</button></a>
  </div>
</section>
