---
title: บริการให้คำปรึกษาและสนับสนุนธุรกิจ SME และ startup ของเชียงใหม่
description: >-
  Consulting, Digital Marketing, and Support Services for Startups and Small
  Businesses in Chiang Mai.
keywords:
solutions:
  - title: การตลาดดิจิทัล
    icon: bullhorn
  - title: บริการลูกค้า
    icon: life-ring
  - title: ฝึกสอนพนักงาน
    icon: book
  - title: จัดการผลิตภัณฑ์ซอฟต์แวร์
    icon: cog
consulting-package:
  - title: ถามตอบสั้นๆ
    description: >-
      ฉันชอบเรียนรู้ว่ามีอะไรเกิดขึ้นในเชียงใหม่บ้าง และฉันอยากช่วยคุณ
      หากคุณอยากทดสอบความรู้ฉันขณะนั่งดื่มกาแฟกันสักถ้วย
      ฉันจะหาเวลาว่างให้ตรงกับคุณ
    price: กาแฟลาเต้หนึ่งแก้ว ☕️
  - title: พูดคุยวางกลยุทธ์
    description: >-
      บางครั้งก็แค่ต้องอาศัยแรงผลักดันให้ไปในทิศทางที่ถูกต้องหรือคำแนะนำเล็กน้อยจากผู้มีประสบการณ์เท่านั้นเอง
      เชิญนัดหมายพูดคุยวางกลยุทธ์กับฉันเพื่อหาคำตอบและแนวทางการทำงานขั้นต่อไปที่ควรทำเพื่อให้งานของคุณประสบความสำเร็จ
    price: '1,500 บาทต่อชั่วโมง'
  - title: ตรวจสอบการค้นหาในพื้นที่
    description: >-
      การใส่ชื่อ ที่อยู่
      และเบอร์โทรศัพท์เดียวกันอย่างสม่ำเสมอในทุกช่องทางการค้นหาและสารบบมีบทบาทสำคัญต่อการจัดอันดับธุรกิจของคุณจากการค้นหาในพื้นที่โดย
      Google 
      คุณจะได้รับรายงานโดยละเอียดว่าดัชนีธุรกิจของคุณเป็นอย่างไรและรายการชื่อ
      ที่อยู่ และเบอร์โทรศัพท์ของคุณควรได้รับการแก้ไขตรงไหน
      รวมทั้งคำแนะนำการปรับปรุงรายการที่สำคัญที่สุดของคุณ
      เพิ่มอันดับการค้นหาในพื้นที่และพัฒนา SEO
    price: '10,000 บาท'
  - title: ตรวจสอบโซเชียลมีเดีย
    description: >-
      โซเชียลมีเดียมีอิทธิพลต่อการที่ลูกค้าสังเกตเห็นแบรนด์ของคุณและมีผลกระทบอย่างสูงต่อการตัดสินใจเลือกของลูกค้า
      คุณสร้างความประทับใจที่ถูกต้องอยู่ไหม?
      รับฟังความคิดเห็นว่าเนื้อหาและประสิทธิภาพของช่องทางการสื่อสารหลักสองช่องทางของคุณเป็นอย่างไร
      พร้อมกับให้คำแนะนำที่ปฏิบัติตามได้จริงว่าควรพัฒนาประสิทธิภาพอย่างไร
      นอกจากนี้ฉันจะจัดทำปฏิทินเนื้อหาจำนวนหนึ่งอาทิตย์ให้เป็นแนวทางการทำงานในอนาคตของคุณ
    price: '15,000 บาท'
  - title: จัดทำแผนที่การเดินทางของลูกค้า
    description: >-
      รู้สึกติดขัดแต่ไม่แน่ใจว่าอะไรขวางความสำเร็จของทีมคุณอยู่ใช่ไหม
      ไม่ว่าจะเป็นฝ่ายขาย ฝ่ายสนับสนุน หรือฝ่ายเทคนิกที่กำลังประสบปัญหาอยู่ก็ตาม
      การจัดทำแผนที่การเดินทางของลูกค้าสามารถเป็นเครื่องมือทรงประสิทธิภาพในการรวบรวมข้อมูลเชิงลึกได้
      ระหว่างการจัดประชุมเชิงปฏิบัติการภายใน
      เราจะทำการขุดคุ้ยกระบวนการทางธุรกิจของคุณเพื่อค้นหาว่าส่วนใดบ้างที่ตอบสนองหรือไม่ตอบสนองต่อความต้องการของลูกค้าและทีมงานของคุณ
      เพื่อให้คุณปฏิบัติการพัฒนาและปรับปรุง
    price: '30,000 บาท'
faq:
  - question: ราคาเริ่มต้นของงานส่วนใหญ่อยู่ที่เท่าไร?
    answer: >-
      การสั่งงานหนึ่งครั้ง (เช่น การตรวจสอบ การค้นหาข้อมูล การออกแบบแม่แบบ
      การเขียนเนื้อหา ฯลฯ) เริ่มต้นที่ 10,000 บาท
      โดยการคิดราคาขึ้นอยู่กับจำนวนของการค้นคว้า ระยะเวลา
      และการลงทุนลงแรงเพื่อให้ได้มาซึ่งผลลัพธ์ที่ดีที่สุด<br /><br />งานใหญ่ๆ
      หรืองานที่ใช้ระยะเวลายาวนานหลายสัปดาห์หรือเป็นเดือน (อย่างเช่น
      การเปลี่ยนเข้าสู่การทำงานโดยไม่ใช้กระดาษ การสร้างศูนย์ช่วยเหลือลูกค้า
      หรือการเปิดตัวผลิตภัณฑ์ใหม่) จะเริ่มต้นที่ 50,000 บาท
      และคิดตามขอบเขตของงานเช่นเดียวกัน
  - question: คุณมีราคาต่อชั่วโมงไหม?
    answer: >-
      ฉันอยากเรียกเก็บในรูปแบบเหมาจ่ายโดยคิดตามขอบเขตของงานมากกว่า
      ซึ่งทำให้ฉันสามารถมุ่งมั่นกับการส่งมอบผลงานแทนที่จะคอยเฝ้ามองเวลา
      คุณจ่ายเงินเพื่อมูลค่าของงานที่ทำสำเร็จ
      ไม่ได้จ่ายให้เวลาที่ใช้ไปกับงานนั้น<br /><br />อย่างไรก็ตาม
      หากคุณต้องการพูดคุยถามตอบสั้นๆ ต้องการความช่วยเหลือแก้ไขปัญหา
      หรือหากคุณมีธุรกิจขนาดเล็กที่ไม่จำเป็นต้องใช้เวลากับฉันเกินสองชั่วโมงแล้ว
      ค่าบริการของฉันจะเริ่มต้นที่ 1,500 บาท ต่อชั่วโมง
  - question: ทำไมถึงเริ่มต้นที่ราคานี้?
    answer: >-
      ลูกค้ามาหาฉันเพื่อรับฟังทางออกในการแก้ไขปัญหาที่ผ่านการคิดมาอย่างดี
      ไม่ใช่การแก้ปัญหาแค่ชั่วคราว พวกเขาเชื่อในคุณภาพที่แลกมาด้วยการจ่าย
      และรู้ว่าจะนำมาซึ่งผลตอบแทนสูงจากการลงทุน<br /><br
      />ฉันเองไม่ชอบรับงานหลายงานในเวลาเดียวกัน
      ฉันจึงสามารถทุ่มเทความพยายามและตั้งใจได้ดีขึ้น
      ค่าบริการของฉันสะท้อนถึงระดับความเอาใจใส่ดูแล
  - question: ขั้นตอนทั่วไปเพื่อเริ่มต้นคืออะไร?
    answer: >-
      เมื่อคุณติดต่อเข้ามาครั้งแรก ฉันจะส่งแบบสอบถามให้คุณทำ
      ซึ่งจะช่วยให้ฉันเข้าใจธุรกิจและเป้าหมายของคุณ
      และฉันสามารถทำอะไรได้บ้างเพื่อช่วยให้คุณไปถึงจุดที่ต้องการ
      หากคุณให้ข้อมูลฉันมากพอแล้วเมื่อติดต่อมาครัั้งแรก
      เราอาจข้ามขั้นตอนนี้ไปได้<br /><br />หากดูเหมาะสมกับทักษะที่ฉันมี
      ฉันจะนัดพบคุณเพื่อคุยรายละเอียด ให้ฉันได้เรียนรู้ธุรกิจ
      ความต้องการและเป้าหมายเฉพาะของคุณให้ดียิ่งขึ้น<br /><br
      />เมื่อเราเห็นพ้องต้องกันว่าเป็นโอกาสอันดีสำหรับเราทั้งคู่
      ฉันก็จะส่งใบแจ้งหนี้และขอบเขตของงานให้คุณ
      โดยจะเรียกเก็บค่ามัดจำเป็นเงินจำนวน 50%
      เมื่อจ่ายเงินมัดจำแล้วเราจึงจะเริ่มงานกัน
  - question: หลังจากนั้นจะเกิดอะไรขึ้น?
    answer: >-
      ฉันมีความตั้งใจในการติดต่อสื่อสารอย่างใกล้ชิดโดยไม่ทำให้คุณเสียสมาธิ
      ฉันจะส่งรายงานกลับมาหาคุณตามช่วงเวลาที่เราตกลงกันไว้ล่วงหน้า
      และในรายงานของฉันจะประกอบไปด้วยงานที่ทำเสร็จสิ้นแล้ว
      สิ่งที่ฉันต้องการจากคุณเพื่อดำเนินงานขั้นต่อไป
      และสิ่งที่ฉันคาดหวังว่าจะทำสำเร็จในไม่กี่วันข้างหน้า<br /><br
      />สำหรับงานเล็กๆ เช่น (การตรวจสอบ การค้นหาข้อมูล และการเขียนเนื้อหา)
      ฉันพยายามทำให้เสร็จลุล่วงภายในหนึ่งสัปดาห์หรือน้อยกว่านั้น<br /><br
      />เมื่องานเสร็จเรียบร้อยแล้ว
      ฉันจะส่งใบแจ้งหนี้ฉบับสุดท้ายให้คุณสำหรับยอดค้างชำระ
      และเมื่อได้รับยอดเรียบร้อยแล้วจึงทำการส่งมอบงาน
  - question: คุณจะเริ่มทำงานเมื่อไร?
    answer: >-
      โดยทั่วไปฉันทำงานโดยยึดตามหลักมาก่อนได้ก่อน
      ดังนั้นหากเราเริ่มปรึกษากันได้เร็วเท่าไหร่ก็ยิ่งดีเท่านั้น
      หากคุณต้องการบริการของฉันอย่างทันทีทันใด
      ฉันสามารถเลื่อนงานของคุณเป็นงานสำคัญงานแรกก่อนได้
      แต่จะเรียกเก็บค่าธรรมเนียม 20% สำหรับการรับบริการที่พิเศษกว่าใคร
  - question: คุณมีช่องทางการจ่ายเงินทางไหนบ้าง?
    answer: >-
      ฉันรับการจ่ายเงินผ่าน PayPa พร้อมเพย์ หรือโอนเงินผ่านธนาคาร
      (ภายในประเทศไทย)
layout: default
lang: th
handle: /consulting
---

<section class="hero-section text-center con-wid-three-quarters">
  <h1 class="text-bg-black pad-top-xs pad-bottom-xs"><span class="editable">ตัวช่วยสำหรับธุรกิจขนาดเล็กของคุณ</span></h1>
  <!-- <h4 class="editable">You're looking to grow online. To connect with new customers. To deliver better services.</h4> -->
  <h3 class="editable text-orange text-bold pad-top-xs pad-bottom-xs">
    กำลังประสบปัญหาเริ่มธุรกิจด้วยตัวเองอยู่ใช่ไหม?
  </h3>
  <h4 class="editable pad-bottom-xs">
    ฉันอยู่นี่แล้ว เพื่อช่วยคุณพัฒนามุมมอง วางแผนอย่างละเอียดรอบคอบ และวางรากฐานเพื่อให้ธุรกิจของคุณดียิ่งขึ้น
  </h4>
  <h3 class="editable pad-top-xs pad-bottom-xs">
    ด้วยตัวช่วยสำหรับ:
  </h3>
  <div class="grid-spaceBetween text-center pad-top-xs">
    {% for solutions in page.solutions %}
    <div class="col-3_sm-12 grid-spaceBetween">
      <div class="col-12">
        <div>
          <h4 class="text-caps pad-top-xs">{{solutions.title}}</h4>
          <h3><i class="fa fa-{{solutions.icon}} text-orange text-b pad-all-s" aria-hidden="true"></i></h3>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  <h4 class="editable pad-top-xs">
    และเพื่อความสะดวกสบายของคุณ ฉันขอเสนอบริการที่ดีที่สุดจากฉันในราคาเหมาจ่าย หากไม่มีแพ็กเกจใดๆ ต่อไปนี้ตรงตามความต้องการของคุณ กรุณาอย่าลังเลที่จะ <a href="/th/contact">ติดต่อฉันเพื่อรับการปรึกษาฟรีโดยไม่เสียค่าจ่าย</a>
  </h4>
  <a href="#consulting"><i class="fa fa-angle-down text-vb text-yellow nudge-down hidden-mobile" aria-hidden="true"></i></a>
</section>
<section id="consulting" class="con-wid-three-quarters text-center">
  <h2 class="text-bg-black text-center"><span class="editable">แพ็กเกจให้คำปรึกษา</span></h2>
  <div class="grid-top con-wid-three-quarters">
    {% for consulting-package in page.consulting-package limit:4 %}
    <div class="col-6_sm-12 pad-all-s">
      <div class="outline-orange pad-all-xs">
        <h3>{{consulting-package.title}}</h3>
      </div>
      <div class="bg-grey pad-all-s">
        <p class="pad-top-xs">{{consulting-package.description}}</p>
        <h5>{{consulting-package.price}}</h5>
        <p class="pad-top-s"><a href="{% if page.url contains 'th' %}/th{% endif %}/contact">Email me to get started</a></p>
      </div>
    </div>
    {% endfor %}
    {% for consulting-package in page.consulting-package offset:4 limit:1 %}
    <div class="col-12 pad-all-s">
      <div class="outline-orange pad-all-xs">
        <h3 class="pad-bottom-xs">{{consulting-package.title}}</h3>
      </div>
      <div class="bg-grey pad-all-s">
        <p class="pad-top-xs">{{consulting-package.description}}</p>
        <h5>{{consulting-package.price}}</h5>
        <p class="pad-top-s"><a href="{% if page.url contains 'th' %}/th{% endif %}/contact">Email me to get started</a></p>
      </div>
    </div>
    {% endfor %}
    <p class="editable col-12 pad-left-s pad-right-s pad-bottom-xs">
      และนั่นเป็นเพียงส่วนเล็กๆ ส่วนหนึ่งเท่านั้น ยังมีอีกหลายวิธีที่ฉันสามารถช่วยให้คุณ<em>ทำงานได้ดีขึ้น</em> ตั้งแต่สร้างเส้นทางการขายและการตลาด ไปจนถึงสร้างแนวทางการดูแลพนักงานใหม่ และการแปลงสำนักงานของคุณให้เป็นระบบดิจิตอลโดยไม่ต้องใช้กระดาษในการทำงาน หากข้างต้นยังไม่ใช่คำตอบของปัญหาที่คุณมี เรามาร่วมงานกันเพื่อหาทางแก้ไขกันเถอะค่ะ
    </p>
  </div>
  <a href="{% if page.url contains 'th' %}/th{% endif %}/contact.html"><button><span class="editable">นัดหมายเพื่อรับคำปรึกษาฟรี</span></button></a>
</section>
<!-- this is the not sure cta section ----------------------------------------------------------------------------------->
<section class="bg-grey text-center pad-top-s pad-bottom-s">
  <h2 class="text-bg-black"><span class="editable">หากไม่แน่ใจว่าแพ็กเกจไหนใช่สำหรับคุณ</span></h2>
  <h3 class="editable pad-top-s">
    กรุณาโทรหรือส่งข้อความหาฉัน เพื่อรับคำปรึกษาฟรี
  </h3>
  <div class="grid-middle text-center pad-top-s">
    <h3 class="text-orange col-5_sm-12 nudge-down"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+66612791306"> 061-279-1306</a></h3>
    <div class="col-4_sm-12 grid-middle pad-top-xs text-center nudge-down">
      <a target="blank" href="http://line.me/ti/p/~cnxlily"><img class="line-icon-orange" src="/images/lineicon-orange.png" alt="line icon" /></a><h3 class="display-inline text-orange">
      <a class="pad-top-xs pad-left-xs" target="blank" href="http://line.me/ti/p/~cnxlily">CNXLILY</a></h3>
    </div>
  </div>
</section>
<section id="faq" class="con-wid-two-thirds">
  <h3 class="editable text-center">
    คำถามที่พบบ่อย
  </h3>
  <div class="pad-top-xs pad-bottom-s">
    {% for faq in page.faq%}
    <!-- this is the container giving the nested container a grid -->
    <div class="grid descriptionTitle pad-top-xs">
      <!-- this is the container limiting the width of the displayed packages -->
      <div class="col-12_sm-12 grid pad-bottom-xs open">
        <!-- this is the container giving the package container and the yellow read more toggle widths -->
        <div class="col-11_sm-10">
          <!-- this is the container for the description and the price outlined in orange -->
          <div class="outline-turq grid-middle-spaceBetween pad-all-xs">
            <h4>{{faq.question}}</h4>
          </div>
        </div>
        <!-- this h4 contains the icon for the read more toggle -->
        <h3 class="col-1_sm-2 bg-turq text-center text-m"><a><i class="read-more text-white fa fa-angle-double-down" aria-hidden="true"></i></a></h3>
        <!-- this is the container for the package description hidden until toggled -->
        <div class="bg-grey margin-bottom-xs grid">
          <p class="col-11_sm-12 pad-all-xs expandedDescription">
            {{faq.answer}}
          </p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</section>
