---
title: CNX Web - ออกแบบเว็บไซต์และให้คำปรึกษาด้านธุรกิจในจังหวัดเชียงใหม่
description: >-
  Beautiful websites for small businesses with big dreams - Chiang Mai,
  Thailand.
keywords: >-
  สร้างเว็บไซท์เชียงใหม่, เว็บไซต์ใหม่เชียงใหม่,
  เว็บไซต์ธุรกิจเชียงใหม่, เว็บไซด์ราคาถูก, เชียงใหม่เว็บไซด์,
  ออกแบบเว็บไซต์ใหม่เชียงใหม่, ดีไซน์เว็บที่ดีที่สุดในเชียงใหม่,
  ทำอย่างไรเว็บไซต์ใหม่เชียงใหม่, ประเทศไทยเว็บไซต์เริ่มต้นราคาถูก,
  เว็บไซต์สำหรับ startup ประเทศไทย
testimonials:
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    client: Happy Client 1
    testimonials_image: /images/lilybruns-headshot.jpg
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    client: Happy Client 2
    testimonials_image: /images/lilybruns-headshot.jpg
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    client: Happy Client 3
    testimonials_image: /images/lilybruns-headshot.jpg
  - quote: >-
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    client: Happy Client 4
    testimonials_image: /images/lilybruns-headshot.jpg
layout: default
lang: th
---

<!-- this is the introduction section ------------------------------------------------------------------------------------>
<section id="intro" class="container home-hero-section bg-turq-grad text-center">
  <h2 class="editable pad-top-xl pad-bottom-s">เว็บไซต์และโซลูชั่นดิจิทัลสำหรับ <span class="txt-rotate" data-period="100" data-rotate='[ "ธุรกิจ    ", "สตาร์ทอัพ    ", "บริษัท    ", "กุศลจิต    ", "ร้านค้า    "]'></span> ของคุณ</h2>
  <div class="text-center">
    <a href="#home"><i class="fa fa-angle-down text-vb text-white nudge-down hidden-mobile" aria-hidden="true"></i></a>
  </div>
</section>
<section class="hero-section con-wid-three-quarters">
  <span id="home" class="anchor"></span>
  <div class="home-hero-image">
    <h1 class="text-bg-black text-center pad-top-xs"><span class="editable">สนับสนุนธุรกิจขนาดเล็กกับฝันอันยิ่งใหญ่</span></h1>
  </div>
  </section>
<section class="con-wid-three-quarters">
  <div class="grid">
    <div class="con-wid-half">
      <h3 class="editable col-10">
        ร่วมงานกับฉัน
      </h3>
      <div class="hor-line"></div>
      <h4 class="editable col-10 pad-bottom-s">
        จากประสบการณ์ที่ผ่านมาในการดูแลธุรกิจสตาร์ตอัพและธุรกิจเล็กๆ ฉันไม่ได้แค่เสนอตัวช่วยที่ดูดีเท่านั้นแต่ยังสร้างรากฐานที่แข็งแรงเพื่อนำไปสู่การเติบโตของธุรกิจของคุณและช่วยให้ก้าวสู้เป้าหมายอย่างสำเร็จ
      </h4>
    </div>
    <div class="grid-spaceBetween-middle text-center pad-top-s pad-bottom-s">
      <div class="col-6_sm-12 service-container">
        <a href="{% if page.url contains 'th' %}/th{% endif %}/web-design"><div class="bg-web-design margin-left-xs margin-right-xs nudge-down margin-bottom-s">
          <h3 class="text-center text-b text-bg-yellow pad-top-l"><span class="editable">ออกแบบ</span></h3><br />
          <h3 class="text-center text-b text-bg-yellow"><span class="editable">เว็บไซต์</span></h3>
        </div></a>
      </div>
      <div class="col-6_sm-12 service-container">
        <a href="{% if page.url contains 'th' %}/th{% endif %}/consulting"><div class="bg-consulting margin-left-xs margin-right-xs nudge-down margin-bottom-s">
          <h3 class="text-center text-b text-bg-yellow pad-top-l"><span class="editable">ให้คำปรึกษา</span></h3><br />
          <h3 class="text-center text-b text-bg-yellow"><span class="editable">ทางธุรกิจ</span></h3>
        </div></a>
      </div>
    </div>
    <ul class="con-wid-half pad-bottom-s">
      <li class="editable pad-bottom-xs">
        <h4>ถ้าคุณคือผู้ประกอบการที่มีไฟในการดูแลกิจการและต้องการดูแลลูกค้าที่แสนน่ารักแต่ไม่รู้ว่าจะผลักดันธุรกิจให้ก้าวต่อไปอีกขั้นอย่่างไร...ฉันช่วยคุณได้</h4>
      </li>
      <li class="editable pad-bottom-xs">
        <h4>ถ้าตอนนี้คุณกำลังทำทุกอย่างด้วยตัวเองแต่ยังขาดคนที่มีประสบการณ์มาช่วยทำให้ทุกอย่างมันลงตัว...ฉันจะช่วยคุณเอง</h4>
      </li>
      <li class="editable pad-bottom-xs">
        <h4>และถ้าคุณอยากได้คนที่มุ่งมั่นและพร้อมช่วยเหลือคุณทุกเมื่อแต่คุณยังไม่พร้อมที่จะจ้างใครในระยะยาว...ติดต่อฉันมาได้เลย</h4>
      </li>
    </ul>
  </div>
</section>
<!-- this is the call to action section ----------------------------------------------------------------------------------->
<section class="bg-grey pad-top-s pad-bottom-s text-center">
  <h2 class="text-bg-black"><span class="editable">พร้อมพาธุรกิจของคุณให้ก้าวไปอีกขั้นหรือยัง</span></h2>
  <!-- this links to the contact page -->
  <div class="pad-top-s"><a href="{% if page.url contains 'th' %}/th{% endif %}/contact" class="button"><button><span class="editable">อีเมลหาฉันเพื่อเริ่มต้น</span></button></a></div>
</section>
<!-- this is the testimonials section ------------------------------------------------------------------------------------->
<section style="display: none;">
 <h3 class="editable text-center pad-bottom-s">Helping small business owners to succeed.</h3>
  <!-- this is the container for the testimonials which should cycle through like a gallery -->
  <div class="grid-middle">
    <div class="col-1">
      <!-- this is the button or icon to click left to see previous testimonial -->
      <a id="flex-left" href="#"><i class="text-b text-yellow fa fa-angle-left nudge-left" aria-hidden="true"></i></a>
    </div>
    <div id="testimonial" class="col-10 outline-turq padding-all-s">
      <!-- these are the testimonial itself -->
      <div class="flexslider margin-all-s">
        <ul class="slides">
        {% for testimonials in page.testimonials %}
          <li>
            <div class="grid">
              <div class="col-8_sm-12">
                <blockquote>{{testimonials.quote}}</blockquote>
                <h4 class="text-right pad-to-xs">- {{testimonials.client}}</h4>
              </div>
              <div class="container-right col-3_sm-12">
                <img class="testimonials-image" src="{{testimonials.testimonials_image}}" alt="client testimonial image - {{testimonials.client}}" />
              </div>
            </div>
          </li>
        {% endfor %}
        </ul>
         <!-- .slides -->
      </div>
        <!-- .flexslider -->
    </div>
    <div class="col-1 text-right">
      <!-- this is the button or icon to click right to see next testimonial -->
      <a id="flex-right" href="#"><i class="text-b text-yellow fa fa-angle-right nudge-right" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
