---
title: เว็บดีไซน์สำหรับธุรกิจในเชียงใหม่
description: สร้างเว็บไซต์ที่ดีกว่าเพื่อธุรกิจขนาดเล็กของคุณ
specs:
  - title: สวยงาม
    icon: eye
    description: >-
      การออกแบบสวยหรูและทันสมัย เน้นความสำคัญของเนื้อหา
      เว็บไซต์ของคุณจะตอบสนองต่ออุปกรณ์โทรศัพท์เคลื่อนที่และดูดีไม่ว่าบนหน้าจอประเภทใด
  - title: ใช้งานง่าย
    icon: thumbs-o-up
    description: >-
      เมื่อทุกอย่างถูกจัดวางอย่างเหมาะสม
      ทำให้ลูกค้าของคุณหาข้อมูลที่ต้องการและติดต่อกับคุณได้ง่ายขึ้น
  - title: ง่ายต่อการค้นหา
    icon: search
    description: >-
      SEO
      ที่มีประสิทธิภาพและระยะเวลาโหลดหน้าเว็บไซต์อันรวดเร็วทำให้กลุ่มลูกค้าเป้าหมายหาคุณเจอได้โดยง่าย
      ธุรกิจของคุณจึงแสดงศักยภาพได้อย่างเต็มที่
web-package:
  - name: ผู้เริ่มต้น
    design: ออกแบบเทมเพลต
    pages: เว็บไซต์แบบหน้าเดียว
    maintenance: จัดการดูแลด้วยตนเอง
    price: '10,000 บาท'
    link: /contact.html
  - name: ผู้ประกอบการ
    design: ออกแบบตามความต้องการ
    pages: เว็บไซต์แบบหน้าเดียว
    maintenance: รวมการจัดการดูแล 5 ชม.
    price: '30,000 บาท'
    link: /contact.html
  - name: ผู้จำหน่าย
    design: ออกแบบตามความต้องการ
    pages: สูงสุดถึง 5 หน้า
    maintenance: รวมการจัดการดูแล 10 ชม.
    price: '50,000 บาท'
    link: /contact.html
  - name: สร้างแพ็กเกจตามสั่งของคุณเอง
    design: ออกแบบตามความต้องการเต็มรูปแบบ
    pages: มากกว่า 10 หน้า
    maintenance: รวมการจัดการดูแล 5 ชม. ต่อเดือน
    price: 'เริ่มต้นที่ 120,000 บาท'
    link: /contact.html
keywords: >-
  build a website chiang mai, make a website chiang mai, new website chiang mai,
  small business website chiang mai, cheap website chiang mai, chiang mai web
  design, modern web design chiang mai, best web designer in chiang mai, how to
  get a new website chiang mai, thailand startup website cheap, website for
  startup thailand, สร้างเว็บไซท์เชียงใหม่, เว็บไซต์ใหม่เชียงใหม่,
  เว็บไซต์ธุรกิจเชียงใหม่, เว็บไซด์ราคาถูก, เชียงใหม่เว็บไซด์,
  ออกแบบเว็บไซต์ใหม่เชียงใหม่, ดีไซน์เว็บที่ดีที่สุดในเชียงใหม่,
  ทำอย่างไรเว็บไซต์ใหม่เชียงใหม่, ประเทศไทยเว็บไซต์เริ่มต้นราคาถูก,
  เว็บไซต์สำหรับ startup ประเทศไทย
layout: default
lang: th
handle: /web-design
---

<section class="hero-section text-center con-wid-three-quarters">
  <h1 class="text-bg-black pad-top-xs pad-bottom-xs"><span>{{page.description}}</span></h1>
  <div class="grid-spaceBetween pad-top-s text-center">
    {% for specs in page.specs %}
    <div class="col-4_sm-12 grid-spaceBetween">
      <div class="col-12">
        <div class="pad-all-s">
          <h3 class="text-caps">{{specs.title}}</h3>
          <h3><i class="fa fa-{{specs.icon}} text-orange text-b pad-all-s" aria-hidden="true"></i></h3>
          <h4 class="web-design-specs">{{specs.description}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="#web-design"><i class="fa fa-angle-down text-vb text-yellow nudge-down hidden-mobile" aria-hidden="true"></i></a>
  <!-- <h4 class="editable">Scroll down to select the best package for your business.</h4> -->
</section>
<section id="web-design" class="con-wid-three-quarters">
  <h2 class="text-bg-black text-center"><span class="editable">แพ็กเกจออกแบบเว็บไซต์</span></h2>
  <div class="grid text-center">
    <h4 class="editable col-12_md-7_sm-12 margin-top-xs margin-bottom-xs">
      เว็บไซต์ที่ดี คือก้าวแรกสู่การเติบโตด้านดิจิทัลของคุณ มาแสดงให้โลกรู้กันว่าคุณคือใคร
    </h4>
  </div>
  <!-- container for pricing modules -->
  <div class="grid-spaceBetween-middle text-center margin-top-xs pad-bottom-xs">
    {% for web-package in page.web-package limit:3 %}
    <div class="col-4_sm-12 margin-all-xs grid">
      <div class="col-12 pad-all-xs">
        <div class="outline-orange pad-all-s">
          <h3>{{web-package.name}}</h3>
        </div>
        <div class="bg-grey pad-all-s">
          <h4>{{web-package.design}}</h4>
          <h4>{{web-package.pages}}</h4>
          <h4>{{web-package.maintenance}}</h4>
          <h3 class="pad-all-s">{{web-package.price}}</h3>
          <a href="{% if page.url contains 'th' %}/th{% endif %}/contact"><button><span class="editable"></span>Choose This Package</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="grid-spaceBetween">
    <div class="col-6_sm-12 pad-all-s">
      <h3 class="editable">
        ทุกแพ็กเกจรวมบริการต่อไปนี้:
      </h3>
      <div class="grid"><div class="hor-line col-12"></div></div>
      <h4 class="editable">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;ค่าบริการโฮสติ้ง 1 ปี
      </h4>
      <h4 class="editable">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;ชี้ไปที่โดเมนที่คุณกำหนดเอง
      </h4>
      <h4 class="editable">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;พื้นที่เก็บข้อมูลไม่จำกัด
      </h4>
      <h4 class="editable">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;เพิ่มประสิทธิภาพ SEO On-page&nbsp;
      </h4>
      <h4 class="editable"><i class="fa fa-check" aria-hidden="true"></i> Google Analytics</h4>
      <h4 class="editable">
        <i class="fa fa-check" aria-hidden="true"></i> ระบบจัดการเนื้อหา (CMS) เพื่อการอัปเดตด้วยตนเอง
      </h4>
    </div>
    <div class="col-6_sm-12 pad-all-s">
      <h3 class="editable">
        รายการเสริมเลือกได้:
      </h3>
      <div class="grid"><div class="hor-line col-12"></div></div>
      <h4 class="editable">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ค่าบริการโฮสติ้งแบบพรีเมี่ยม 1,000 บาท ต่อเดือน
      </h4>
      <h4 class="editable">
        <i class="fa fa-plus" aria-hidden="true"></i> เขียนบล็อก 5,000 บาท
      </h4>
      <h4 class="editable">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ออนไลน์บุคกิ้ง 30,000 บาท*
      </h4>
      <h4 class="editable">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;อี-คอมเมิร์ซ 50,000 บาท*
      </h4>
      <p class="editable pad-bottom-s">
        * ไม่รวมค่าซอฟต์แวร์เสริม
      </p>
    </div>
  </div>
  <h2 class="editable col-12 text-bg-black text-center margin-bottom-s">
    <span>กำลังมองหาตัวเลือกการให้บริการเต็มรูปแบบอยู่ใช่ไหม</span>
  </h2>
  <div class="grid">
    {% for web-package in page.web-package offset:3 limit:1 %}
    <div class="col-7_sm-12 outline-orange text-center pad-all-xs">
      <h3>{{web-package.name}}</h3>
    </div>
    <div class="col-7_sm-12 bg-grey pad-all-s text-center">
      <h4>{{web-package.design}}</h4>
      <h4>{{web-package.pages}}</h4>
      <h4>{{web-package.maintenance}}</h4>
      <h3 class="pad-bottom-s pad-top-s">{{web-package.price}}</h3>
      <a href="{% if page.url contains 'th' %}/th{% endif %}/contact"><button><span class="editable">Get A Project Quote</span></button></a>
    </div>
    {% endfor %}
    <div class="col-5_sm-12 pad-left-s">
      <h3 class="editable">
        เหมาะสำหรับ:
      </h3>
      <h4 class="editable">
        <i class="fa fa-diamond" aria-hidden="true">&nbsp;โรงแรมและรีสอร์ท</i>
      </h4>
      <h4 class="editable">
        <i class="fa fa-diamond" aria-hidden="true"></i>&nbsp;ตัวแทนขายอสังหาริมทรัพย์
      </h4>
      <h4 class="editable">
        <i class="fa fa-diamond" aria-hidden="true"></i> ร้านค้าออนไลน์
      </h4>
    </div>
  </div>
</section>
<!-- this is the not sure cta section ----------------------------------------------------------------------------------->
<section class="bg-grey text-center pad-top-s pad-bottom-s">
  <h2 class="text-bg-black"><span class="editable">หากไม่แน่ใจว่าแพ็กเกจไหนเหมาะกับคุณ</span></h2>
  <h3 class="editable pad-top-s">
    โทรหรือส่งข้อความหาฉันเพื่อรับฟังคำปรึกษาฟรี
  </h3>
  <div class="grid-middle text-center pad-top-s">
    <h3 class="text-orange col-5_sm-12 nudge-down"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+66612791306"> 061-279-1306</a></h3>
    <div class="col-4_sm-12 grid-middle pad-top-xs text-center nudge-down">
      <a target="blank" href="http://line.me/ti/p/~cnxlily"><img class="line-icon-orange" src="/images/lineicon-orange.png" alt="line icon" /></a><h3 class="display-inline text-orange">
      <a class="pad-top-xs pad-left-xs" target="blank" href="http://line.me/ti/p/~cnxlily">CNXLILY</a></h3>
    </div>
  </div>
</section>
