<footer class="grid-middle bg-black text-center pad-all-xs">
  <h4 class="col-12 text-white">{% if page.url contains 'th' %}ลองสร้างอะไรด้วยกันไหม{% else %}Let's create something together{% endif %}</h4>
  <a class="col-10 pad-top-xs pad-bottom-xs" href="{% if page.url contains 'th' %}/th{% endif %}/contact"><button class="button-footer">
      {% if page.url contains 'th' %}ติดต่อ{% else %}contact{% endif %}</button></a>
  <div class="col-3 grid-middle-spaceAround text-yellow">
    <h3><a href="tel:+66612791306"><i class="fa fa-phone" aria-hidden="true"></i></a></h3>
    <a class="line-icon" target="blank" href="http://line.me/ti/p/~cnxlily"></a>
    <h3><a href="https://www.facebook.com/cnxwebsite/" target="blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></h3>
    <h3><a href="https://twitter.com/cnxweb" target="blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></h3>
  </div>
  <h5 class="col-12 text-white pad-top-xs"><i class="fa fa-copyright" aria-hidden="true"></i> CNX Web {% if page.url contains 'th' %}<script type="text/javascript">
document.write(new Date().getFullYear()+ 543);</script>{% else %}<script type="text/javascript">
document.write(new Date().getFullYear());</script>{% endif %}</h5>
</footer>
