<head>
  {% include google-code.html %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}"/>
  <meta name="keywords" content="{{page.keywords}}"/>
  <meta name="author" content="Lily Bruns">
  {% include og.html %}
  <link href="https://fonts.googleapis.com/css?family=Athiti|Kanit&amp;subset=thai" rel="stylesheet">
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/style.css">
  {% include hubspot-code.html %}
  {% include facebook-pixel.html %}
</head>
