<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
    <link href="https://fonts.googleapis.com/css?family=Prompt:300,500,700,900&amp;subset=thai" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://use.fontawesome.com/97eb518d07.js"></script>
    <title>{{page.title}}</title>
  </head>
  {{content}}
</html>
