---
layout: head
title: cnx web
---
<body>
  <header>
    <!-- this is the main sticky nav used throughout the website -->
    <nav id="main-nav" class="nav">
      <div>
        <h2><a>login</a></h2>
      </div>
      <div class="bg-yellow nav-menu">
        <h2><a>services</a></h2>
        <h2><a>examples</a></h2>
        <h2><a>about</a></h2>
        <h2><a>contact</a></h2>
        <div>
          <p>
            ไทย
          </p>
          <p>
            /
          </p>
          <p>
            EN
          </p>
        </div>
      </div>
    </nav>
  </header>
  <!-- this is where each page's content will go -->
  {{content}}
  <!-- this is the main footer used throughout the site -->
  <footer class="bg-navy">
    <!-- this is the column on the left -->
    <div>
      <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-phone" aria-hidden="true"></i></a>
      <!-- this is the icon for line messenger -->
      <a href=""><i class="ss-line-square"></i></a>
    </div>
    <!-- this is the column in the middle -->
    <div>
      <h2 class="text-footer"><a>start your website</a></h2>
      <div class="hor-line"></div>
      <h2 class="text-footer"><a>get in touch</a></h2>
    </div>
    <!-- this is the column on the right -->
    <div>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </footer>
</body>
