---
layout: head
title: cnx web
---
<body>
  <header>
    <!-- this is the main sticky nav used throughout the website -->
    <nav id="main-nav" class="nav">
      <div class="bg-yellow nav-menu">
        <h2><a>contact</a></h2>
        <div>
          <p>
            ไทย
          </p>
          <p>
            /
          </p>
          <p>
            EN
          </p>
        </div>
      </div>
    </nav>
  </header>
  <!-- this is where each page's content will go -->
  {{content}}
</body>
