---
layout: head
title: cnx web
---
<body>
  <header>
    <!-- this is the main sticky nav used throughout the website -->
    <nav class="grid-spaceBetween">
      <div class="col-2_xs-0">
        <h2 class="text-nav margin-left-xs margin-top-s"><a>login</a></h2>
      </div>
      <div class="col-8">
        <h2 class="text-logo text-center"><a href="/">CNX Web</a></h2>
      </div>
      <div class="nav-box-mini position-abs grid"></div>
      <div class="col-2_xs-0 nav-menu text-right">
        <p class="text-nav"><a>ไทย</a>/<a></a>EN</p>
      </div>
    </nav>
  </header>
  <!-- this is where each page's content will go -->
  {{content}}
</body>
