---
layout: default
title:
description:
hero_image:
tags:
  - 
keywords:
date:
author:
author_image:
excerpt_separator: <!-- excerpt -->
---
<section>
  <div class="hero-image" style="background-image: url("{{page.hero_image}}")">
    <h1 class="text-bg-black margin-top-xs margin-left-xs">{{page.title}}</h1>
  </div>
  <!-- container for blog post and author card and tags -->
  <div>
    <!-- container for blog post content - left column -->
    <h6 class="pad-top-xs pad-bottom-xs">Published: {{page.date | date: '%B %d, %Y'}}</h6>
    <div class="grid-spaceBetween-top">
      <div class="col-8">
        <p>
          {{content}}
        </p>
      </div>
      <div class="col-3">
        <img src="{{page.author_image}}" alt="{{page.author}} image"/>
        <h5>Author: {{page.author}}</h5>
        <h5>Filed Under:</h5>
        <div class="text-bg-yellow">
          {{page.tags}}
        </div>
      </div>
      </div>
    </div>
</section>
