---
layout: default
title:
description:
hero_image:
tags:
  -
keywords:
url:
date:
author:
author_image:
excerpt_separator: <!-- excerpt -->
published: true
---
<section class="mobile-section-top">
  <div class="hero-image" style="background-image: url('{{page.hero_image}}');)">
    <h1 class="text-bg-black pad-top-xs pad-left-xs"><span>{{page.title}}</span></h1>
  </div>
  <h4 class="pad-top-xs pad-bottom-xs">Published: {{page.date | date: "%b %-d, %Y"}}</h4>
  <!-- container for blog post and author card and tags -->
  <div class="grid-spaceBetween-top">
    <!-- container for blog post content - left column -->
    <div class="col-9_sm-12">
      {{content}}
    </div>
    <!-- container for author and tags - right column -->
    <div class="col-2_sm-12 margin-top-xs grid">
      <div class="col-12_sm-0 margin-top-xs">
        <img src="{{page.author_image}}" alt="{{page.author}} image"/>
        <h5>Author: {{page.author}}</h5>
      </div>
      <div>
        <h5>Filed Under:</h5>
        {% for tags in page.tags %}
        <!-- <h5 class="tags">{{tags}}</h5> -->
        <h5 class="tags nudge-down"><a href="/archives/tag/{{ tags | slugify }}">{{tags}}</a></h5>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="outline-black-thin">
    <h6>Share this on &rarr;
      <a class="share-hover" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcnxweb.site&quote=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;">Facebook</a>
      <a class="share-hover" href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcnxweb.site&text=:%20http%3A%2F%2Fcnxweb.site&via=cnxweb" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;">Twitter</a>
      <a class="share-hover" href="https://plus.google.com/share?url=http%3A%2F%2Fcnxweb.site" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;">Google+</a>
      <a class="share-hover" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fcnxweb.site&title=&summary=&source=http%3A%2F%2Fcnxweb.site" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">LinkedIn</a>
    </h6>
  </div>
  <span class="hor-line"></span>
  <a href="/blog"><button>Go back to main blog page</button></a>
</section>
