---
layout: default
title:
description:
image:
price:
steps:
  - number:
    description:
    detail:
what-include:
  - does-include:
what-else-add:
  - add:
what-not-include:
  - not-include:
form:
faq:
  - question:
    answer:
---
<!-- copy styling from services section headers -->
<section>
  <div>
    <img src="{{page.plan-image}}" alt="{{page.title}} image"/>
    <h1 class="text-bg-black">{{page.title}}</h1>
    <h3>{{page.price}}</h3>
  </div>
  <!-- the description of the service goes here ------------------------------>
  {{content}}
  <!-- the required steps for this service go here --------------------------->
  {% for steps in page.steps %}
  <div class="grid-middle">
    <div class="col-1">
      <h2 class="text-orange text-vb ">{{steps.number}}</h2>
    </div>
    <div class="col-11">
      <h3>{{steps.description}}</h3>
      <h4>{{steps.detail}}</h4>
    </div>
  </div>
  {% endfor %}
  <!-- what's included, optional, and not included for this service goes here -->
  <h3>What's included?</h3>
  <ul>
    {% for what-include in page.what-include %}
      <li>
        {{include.does-include}}
      </li>
    {% endfor %}
  </ul>
  <h3>What else can be added?</h3>
  <ul>
    {% for what-else-add in page.what-else-add %}
    <li>
      {{what-else-add.add}}
    </li>
    {% endfor %}
  </ul>
  <h3>What's <i>not</i> included?</h3>
    <ul>
    {% for what-not-include in page.what-not-include %}
      <li>
        {{what-not-include.not-include}}
      </li>
    {% endfor %}
  </ul>
</section>
<section>
  <h2 class="text-bg-black">Let's do this!</h2>
  <h4>Please complete the following form to submit your website request. Submitting all your content and materials now will help me to create your website faster, but they are not required in order to begin. If you’d like, you can <a href="link to download form">download a checklist to prepare at this link</a>.</h4>
  <!-- the embedded form to sign up for this service goes here --------------->
  <div>{{page.form}}</div>
</section>
<section id="{{page.title}}-faq">
  <!-- the faq for this service  goes here ----------------------------------->
  <!-- <div class="bg-grey">
    <h3>Frequently Asked Questions</h3>
    <ul>
      {% for faq in page.faq %}
      <li>
        <h5>{{faq.question}}</h5>
        <h6>{{faq.answer}}</h6>
      </li>
      {% endfor %}
    </ul>
  </div> -->
</section>
