* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Athiti', sans-serif;
  /* border: solid 0.25px powderblue; */
}
[class*=grid-],[class*=grid_],[class~=grid]{
  margin: 0;
}
[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

/* typography */
h1,h2 {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}
h1,h2 span {
  font-family: 'Kanit', sans-serif;
  color: white;
}
h3 {
  font-size: 2em;
  font-weight: lighter;
  color: #2d2a32;
}
h4 {
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.5;
  color: #2d2a32;
}
p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  color: #2d2a32;
  margin-bottom: 0.5em;
}
ul {
  line-height: 1.5;
  color: #2d2a32;
  padding-left: 30px;
}
@media all and (max-width:576px) {
  h1,h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
    font-weight: lighter;
  }
  h4,p {
    font-size: 1em;
  }
  ul {
    padding-left: 10px;
    line-height: 1.2;
  }
}
.text-orange {
  color: #f85a3e;
}
.text-red {
  color: red;
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: #2d2a32;
}
.text-yellow {
  color: #ffd23f;
}
.text-grey {
  color: #d3d3d3;
}
.text-bg-black {
  line-height: 1.4;
}
.text-bg-black span {
  background-color: #2d2a32;
  font-family: 'Kanit', sans-serif;
  /* color: white; */
  display: inline;
  padding: 0.3% 1%;

  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.text-bg-orange span {
  background-color: #f85a3e;
  display: inline;
  padding: 0 1%;
}
.text-bg-yellow span {
  background-color: #ffd23f;
  display: inline;
  padding: 0 1%;
}
.text-caps {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bolder;
}
.text-underline {
  text-decoration: underline;
}
.text-strike {
  text-decoration: line-through;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-vb {
  font-size: 5em;
}
.text-b {
  font-size: 2.5em;
}
.text-m {
  font-size: 1.5em;
}
.capitalize {
  text-transform: capitalize;
}
@media all and (max-width:576px) {
  .text-center-mobile {
    text-align: center;
  }
}



/* site-wide padding */
section {
  padding: 2.5% 5%;
}
.hero-section {
  min-height: 100vh;
  margin-top: 15vh;
}
.top-section {
  margin-top: 15vh;
}
.anchor {
  display: block;
  height: 12vh;
  margin-top: 12vh;
}
.hero-image {
  background-size: cover;
  background-position: center;
  height: 79vh;
}
@media all and (max-width:768px) {
  .hero-section {
    margin-top: 10vh;
  }
  .top-section {
    margin-top: 10vh;
  }
  .anchor {
    display: block;
    height: 10vh;
    margin-top: 10vh;
  }
}
@media all and (max-width:576px) {
  section {
    padding: 5%;
  }
  /* .hero-section {
    margin-top: 5vh;
  }
  .top-section {
    margin-top: 5vh;
  }
  .anchor {
    display: block;
    height: 5vh;
    margin-top: 5vh;
  } */
  .anchor {
    display: block;
    height: 0;
    margin-top: 0;
  }
}

/* links and buttons */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
p a {
  text-decoration: none;
  border-bottom: 0 solid rgba(255, 210, 63, 0.7);
  box-shadow: inset 0 -5px 0 rgba(255, 210, 63, 0.7);
  color: inherit;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -moz-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -o-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);
}
p a:hover {
  text-decoration: none !important;
  background-color: rgba(255, 210, 63, 0.7);
}
p a:visited {
  color: inherit;
}
h4 a {
  text-decoration: none;
  border-bottom: 0 solid rgba(255, 210, 63, 0.7);
  box-shadow: inset 0 -5px 0 rgba(255, 210, 63, 0.7);
  color: inherit;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -moz-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -o-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);
}
h4 a:hover {
  text-decoration: none !important;
  background-color: rgba(255, 210, 63, 0.7);
}
h4 a:visited {
  color: inherit;
}
button {
  background-color: #ffd23f;
  border-color: #ffd23f;
  color: #2d2a32;
  font-weight: bold;
  font-family: 'Athiti', serif;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 45px;
  padding: 5px 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button:hover {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.button-wide {
  width: 100%;
}
.read-more {
  position: relative;
  top: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.read-more:hover {
  top: 17px;
}
.read-more:visited {
  transform: rotate(180deg);
}
.share-hover {
  margin: 0 5px;
}
.share-hover:hover {
  color: #ffd23f;
}


/* animations */
.nudge-down {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nudge-down:hover {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.nudge-right {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nudge-right:hover {
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
  transform: translateX(3px);
}
.nudge-left {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nudge-left:hover {
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
}

.wobble-up-down{
  -webkit-font-smoothing: antialiased;
}

.wobble-up-down:hover{
  animation: wobbleud 0.7s linear infinite;
}

@keyframes wobbleud{
  0%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }

  75%{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100%{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/* form styling */
input,textarea,button,select {
  font-family: 'Athiti', sans-serif;
  color: #2d2a32;
}
label {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
  /* line-height: 2; */
  text-transform: uppercase;
  color: white;
  display: block;
}
@media all and (max-width:576px) {
  label {
    font-size: 1em;
    line-height: 1.2;
  }
}
input {
  width: 100%;
  height: 2em;
}
textarea {
  width: 100%;
  height: 5em;
  border: 0.25px inset rgba(121,121,121,0.5);
}
/* Customize the label (the container) */
.checkmark-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 8px;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
  font-family: 'Athiti', sans-serif;
  font-weight: 300;
  text-transform: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 9px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a turq background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #4ecdc4;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
}
/* Create a custom radio button */
.radio {
  position: absolute;
  top: 9px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio {
  background-color: #ccc;
}
/* When the radio button is checked, add a turq background */
.radio-container input:checked ~ .radio {
  background-color: #4ecdc4;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .radio:after {
  top: 7.5px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}


/* nav */
header {
  /* padding-top: 120px; */
  z-index: 9999;
  top: 0;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav h2 {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav a,
nav #logo {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.home nav #logo {
  position: relative;
  bottom: -125px;
}
.scrolling nav #logo {
  bottom: 0;
}
.header-cta {
  border: solid white 2px;
  padding: 5px;
  text-align: center;
}
.shrink {
  padding-top: 0;
}
.language-switcher {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  font-size: 0.7em;
  padding-top: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.language-switcher:hover {
  transform: scale(1.2);
}
.language-switcher a:hover {
  color: white;
}


/*  MOBILE MENU */
#mobile-menu {
  background-color: #4ecdc4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}
#mobile-menu.mobile-menu-visible {
  display: block;
}
#mobile-menu h2 {
  color: white;
  font-size: 1.8em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.mobile-menu-container {
  display: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.mobile-logo-container {
  display: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
@media all and (max-width:768px) {
  #menu {
    display: none;
  }
  .mobile-logo-container {
    display: block;
    position: fixed;
    height: 50px;
    top: 0;
    left: 5px;
  }
  .mobile-menu-container {
    display: block;
    position: fixed;
    z-index: 99;
    right: 10px;
    top: 0;
    height: 55px;
    width: 55px;
    background-color: #4ecdc4;
    color: white;
  }
}


/* footer styles */
footer {
  min-height: 20vh;
}
footer h3 {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}
footer a:hover {
  color: #ffd23f;
}
.footer-icon {
  color: white;
  font-size: 2em;
}
.line-icon {
  background-image: url('/images/lineicon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.line-icon:hover {
  background-image: url('/images/lineicon-yellow.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.button-footer {
  border: 1.5px solid white;
  color: white;
  background-color: transparent;
  line-height: 1em;
  padding: 5px 20px;
  min-width: 25%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-footer:before{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: #ffd23f;
  border-radius: 45%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-footer:hover{
  border: 1.5px solid #ffd23f;
  background-color: #ffd23f;
  color: #2d2a32;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.button-footer:hover:before{
  top: 0;
}
/* footer a:hover {
  color: #ffd23f;
} */


/* homepage */
.home-hero-section {
  height: 100vh;
}
.home-hero-image {
  background-image: url("/images/man-people-space-desk.jpg");
  background-size: cover;
  background-position: center;
  height: 78vh;
}
.service-container {
  width: 38vw;
}
.bg-web-design {
  background-image: url("/images/wd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  min-width: 30vw;
}
.bg-consulting {
  background-image: url("/images/bc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  min-width: 30vw;
}
.testimonials-image {
  border-radius: 100%;
}
@media all and (max-width:703px) {
  .home-hero-section {
    display: none;
  }
}


/* web design page */
@media all and (max-width:768px) {
  .web-design-specs {
    min-height: 10px;
  }
}
.line-icon-yellow {
  max-height: 28px;
  max-width: 28px;
}
.line-icon-orange {
  max-height: 28px;
  max-width: 28px;
}


/* consulting page */




/* faqs on consulting */
/* .open{
  display:block;
} */
.expanded{
  transition: all .3s ease-in-out;
}
.expandedDescription{
  display:none;
}
/* .faq-t{
  -moz-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float:right;
  position:relative;
  top:-55px;
  right:10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all .3s ease-in-out;
}
.faq-o{
  top:-50px;
   -moz-transform: rotate(-224deg);
  -moz-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}
@media only screen and (max-width: 480px) {
  .faq-t {
    display:none;
  }
  .question{
  padding-right: 0px;
  }
  .packageDescription{
  margin-bottom:30px;
  padding-left:0px;
  padding-right:0px;
  }
} */


/* blog and posts */
.tags {
  background-color: #ffd23f;
  display: inline-block;
  padding: 0.2% 0.3%;
  font-family: 'Athiti', sans-serif;
  text-transform: capitalize;
  margin-bottom: 1%;
}
.big-tags {
  font-size: 1.5em;
}
.justify-content {
  text-align: justify;
}

/* about page */
.hero-image-about {
  background-size: cover;
  background-position: right;
  height: 78vh;
}
.hi-lily {
  position: absolute;
  top: 30%;
  left: 18.1%;
}
.about-icon {
  color: #f85a3e;
  font-size: 8em;
}
@media all and (max-width:768px) {
  .hero-image-about {
    background-size: cover;
    background-position: right;
    height: 56vh;
  }
  .hi-lily {
    position: static;
    margin: 5% 5% 2% 5%;
  }
  .about-icon {
    display: none;
  }
}
@media all and (max-width:576px) {


}


/* start pages and forms */



/* 404 page */
.image-404 {
  max-height: 50vh;
}


/* thank you page*/
.image-thank-you {
  max-height: 50vh;
}


/* border and background helpers */
.hor-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2d2a32;
  margin: 1em 0;
  padding: 0;
}
.hor-line-white {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}
.bg-turq-grad {
  background: linear-gradient( #4ecdc4, #4ecdc4, white);
}
.bg-turq {
  background-color: #4ecdc4;
}
.bg-orange {
  background-color: #f85a3e;
}
.bg-yellow {
  background-color: #ffd23f;
}
.bg-black {
  background-color: #2d2a32;
}
.bg-grey {
  background-color: #EFEFEF;
}
.bg-white {
  background-color: white;
}
.outline-turq {
  border: solid 5px #4ecdc4;
}
.outline-orange {
  border: solid 5px #f85a3e;
}
.outline-black-thin {
  border: solid 1px #2d2a32;
  padding: 1%;
  display: inline-block;
}
@media all and (max-width:576px) {
  .outline-turq-mobile {
    border: solid 5px #4ecdc4;
    margin: 1%;
    padding: 5%;
  }
}


/* padding/margins helpers ------------------------------------------------- */
.container-center {
  margin: 0 auto !important;
}
.container-right {
  margin-left: auto;
  margin-right: 0;
}
.con-wid-three-quarters {
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.con-wid-two-thirds {
  margin-left: 15%;
  margin-right: 15%;
}
.con-wid-half {
  margin-left: 20%;
  margin-right: 20%;
}
.con-wid-third {
  margin-left: 30%;
  margin-right: 30%;
}
.max-width {
  max-width: 100%;
}
.max-height {
  max-height: 100%;
}
.pad-all-xs {
  padding: 1%;
}
.pad-all-s {
  padding: 5%;
}
.pad-all-m {
  padding: 10%;
}
.pad-all-l {
  padding: 20%;
}
.pad-top-xs {
  padding-top: 1%;
}
.pad-top-s {
  padding-top: 5%;
}
.pad-top-m {
  padding-top: 10%;
}
.pad-top-l {
  padding-top: 20%;
}
.pad-top-xl {
  padding-top: 25%;
}
.pad-right-xs {
  padding-right: 1%;
}
.pad-right-s {
  padding-right: 5%;
}
.pad-right-m {
  padding-right: 10%;
}
.pad-right-l {
  padding-right: 20%;
}
.pad-right-xl {
  padding-right: 40%;
}
.pad-bottom-xs {
  padding-bottom: 1%;
}
.pad-bottom-s {
  padding-bottom: 5%;
}
.pad-bottom-m {
  padding-bottom: 10%;
}
.pad-bottom-l {
  padding-bottom: 20%;
}
.pad-left-xs {
  padding-left: 1%;
}
.pad-left-s {
  padding-left: 5%;
}
.pad-left-m {
  padding-left: 10%;
}
.pad-left-l {
  padding-left: 20%;
}
.pad-none {
  padding: 0;
}
.margin-all-xs {
  margin: 1%
}
.margin-all-s {
  margin: 5%
}
.margin-all-m {
  margin: 10%
}
.margin-all-l {
  margin: 20%
}
.margin-top-xs {
  margin-top: 1%
}
.margin-top-s {
  margin-top: 5%
}
.margin-top-m {
  margin-top: 10%
}
.margin-top-l {
  margin-top: 20%
}
.margin-right-xs {
  margin-right: 1%
}
.margin-right-s {
  margin-right: 5%
}
.margin-right-m {
  margin-right: 10%
}
.margin-right-l {
  margin-right: 20%
}
.margin-right-xl {
  margin-right: 40%;
}
.margin-bottom-xs {
  margin-bottom: 1%
}
.margin-bottom-s {
  margin-bottom: 5%
}
.margin-bottom-m {
  margin-bottom: 10%
}
.margin-bottom-l {
  margin-bottom: 20%
}
.margin-left-xs {
  margin-left: 1%
}
.margin-left-s {
  margin-left: 5%
}
.margin-left-m {
  margin-left: 10%
}
.margin-left-l {
  margin-left: 20%
}
.margin-none {
  margin: 0;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.hidden {
  display: none;
}
.show-only-mobile {
  display: none;
}
@media all and (max-width:576px) {
  .hidden-mobile {
    display: none;
  }
  .show-only-mobile {
    display: contents;
  }
  .con-wid-three-quarters {
    margin-left: 5%;
    margin-right: 5%;
  }
  .con-wid-two-thirds {
    margin-left: 5%;
    margin-right: 5%;
  }
  .con-wid-half {
    margin-left: 5%;
    margin-right: 5%;
  }
  .con-wid-third {
    margin-left: 5%;
    margin-right: 5%;
  }
}
